# Dependencies
node_modules
.pnpm-store

# Build
dist
build
coverage
out

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database
*.sqlite
*.db

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Next.js
.next
